$main_color: #3f3332;
$second_color:  #b79b6d;
@mixin brown {
    color: $second_color;
    background-color: $main_color;
    border-radius: 30px;
    padding: 13px 15px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 5px 7px 13px 0px #747070;
    &:hover{
        background-color: $second_color;
        color: $main_color;
        transition: 0.7s ease-in-out;
        box-shadow: 0px 0px 0px ;
    }
}
@mixin main {
    color: $main_color;
    border-radius: 30px;
    padding: 10px 17px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid;
    margin-left: 10px;
    &:hover{
        border-color: $main_color;
        color: $second_color;
        background-color: $main_color;
        transition: 0.7s ease-in-out;
    }
}
@mixin  main_h2 {
    color: $main_color;
    font-weight: bold;
    margin-bottom: 25px;
}
@mixin navbar {
    .brown {
        @include brown;
        padding: 11px 22px;
    }
    .navbar-nav {
        padding-left: 40px;
        .nav-link{
            color: $main_color !important;
            font-size: 19px;
            opacity: 0.6;
            margin-left: 12px;
            &:hover{
                opacity: 1;
                border-bottom: 3px solid $second_color;
            }
        }
        .active>.nav-link {
            opacity: 1;
            font-weight: bold;
            border-bottom: 3px solid $second_color;
        }
    }
    .dropdown-toggle::after{display: none;}
}
@mixin model_body {
    padding: 20px;
    border: 1px solid;
    margin: 20px;
    border-color:#c1b8b8;
    label{color:$main_color;font-weight: 600;}
    i{font-size: 16px;margin-left: 6px;color: $second_color;}
    input {border-color:#c1b8b8;text-align: right;}
    input:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
    }
    textarea{
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
        border-color:#c1b8b8;
    }
    .btn-orange{
        background-color: $second_color;
        border-radius: 30px;
        color: $main_color;
        &:hover{
            color: $second_color;
            background-color: $main_color;
            transition: 0.5s ease-in-out;
        }
    }
}
.navbar-light .navbar-toggler {
    color:  $main_color;
    border-color: $main_color;
    margin-top: 17px;
}
body{overflow-x: hidden;}
.mix {display: none;}
.asterisk{
    float: left;
    position: relative;
    left: 13px;
    top: 38px;
    color: #f00;
    font-size: 22px;
    font-weight: bold;
}
.fa-eye{
    position: relative;
    top: 40px;
    font-size: 18px;
    color: $main_color;
}
.btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "البحث";
}
hr {
    border-top: 2px solid rgba(0,0,0,.1);
}
.custom-file-label::after{left: 0;right: 350px;border-radius: 0;}
header{
    background: url('../img/back.jpg');
    background-size: cover;
    height: 840px;
    .navbar{
        @include navbar;
    }
    .main_right {
        width: 30%;
        float: right;
        margin-top: 17%;
        text-align: right;
        margin-right: 40px;
        @media (max-width: 992px) {
            width: 82%;
            float: none;
            margin: auto;
            background-color: rgba(183, 155, 109, 0.5);
            padding: 23px 50px;
            box-shadow: 1px 1px 2px 0 rgba(70, 68, 64, 0.8);
            position: relative;
            top: 175px;
        }
        h1 {
            @include main_h2;
            .color {
                color: $second_color;
                font-size: 56px;
                @media (max-width: 992px) {
                    color: #fff;
                }
            }
        }
        p{
            color:$main_color;
            margin-bottom: 23px;
        }
        a{
            color: $main_color;
            border-radius: 30px;
            padding: 10px 17px;
            font-size: 18px;
            font-weight: bold;
            border: 3px solid;
            margin-left: 10px;
            text-decoration: none;
            &:hover{
                border-color: $main_color;
                color: $second_color;
                background-color: $main_color;
                transition: 0.7s ease-in-out;
            }
        }
        .brown {@include brown;}
    }
}
.section1{
    padding: 40px;
    img{width: 100%;height: 280px;}
    h2 {
        @include main_h2;
    }
    .row{padding-left: 50px;}
    .shuffle{
        li {
            display: inline-block;
            list-style-type: none;
            margin-right: 10px;
            color: $second_color;
            background-color: $main_color;
            border-radius: 5px;
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 25px;
            opacity: 0.7;
            cursor: pointer;
            box-shadow: 5px 7px 13px 0px #747070;
            width: 140px;
            height: 40px;
            line-height: 37px;
            @media (max-width: 992px) {
                width: 113px;
            }
        }
        .select {opacity: 1;}
    }
    .gallery{
        .mix{
            margin-bottom: 20px;
            padding: 0;
            margin-right: 10px;
            flex: 0 0 23%;
            max-width: 23%;
            @media (max-width: 992px) {
                flex: 0 0 31%;
                max-width: 31%;
            }
            @media (max-width: 768px) {
                flex: 0 0 48%;
                max-width: 48%;
            }
            h3{margin-top: 30px;margin-bottom: 16px;}
        }
        .flip-card {
            perspective: 1000px;
        }
        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 380px;
            text-align: center;
            transition: transform 0.7s ease-in-out;
            transform-style: preserve-3d;
        }
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
            transition: 0.7s ease-in-out;
        }
        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .flip-card-front{
            border-radius: 9px;
            border: 2px solid $main_color;
            overflow: hidden;
            background-color: $main_color;
            color: $second_color;
        }
        .flip-card-back {
            background-color: $main_color;
            color: $second_color;
            border-radius: 9px;
            transform: rotateY(180deg);
            p{
                padding: 20px;
                font-size: 18px;
            }
            .main {
                color: $second_color;
                padding: 10px 17px;
                font-size: 17px;
                font-weight: 600;
                border: 3px solid;
                border-radius: 0;
                &:hover{
                    background-color: $second_color;
                    color: $main_color;
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
}
.section2 {
    margin: 20px 0;
    .container{
        h2{margin: auto;@include main_h2;}
        .main_P{
            width: 90%;
            text-align: right;
            margin: auto;
            margin-bottom: 25px;
            color: $main_color;
        }
        img{width: 100%;height: 240px;}
        .col-md-6{
            flex: 0 0 47%;
            max-width: 47%;
            background-color: #f0f3d6;
            margin-left: 15px;
            padding: 0;
            margin-bottom: 15px;
            box-shadow: 3px 3px 5px 0px #8d8a8a;
            @media (max-width: 768px) {
                flex: 0 0 100%;
                max-width: 100%;
                background-color: #f0f3d6;
                margin: auto;
                margin-bottom: 15px;
            }
            .main{
                margin-top: 25px;
                h3{
                    font-weight: bold;
                    font-size: 25px;
                    color: $main_color;
                }
                span{color: $second_color;}
            }
            .overlay{
                position: absolute;
                top: 120px;
                right: 0px;
                background-color: $main_color;
                opacity: 0.7;
                color: rgb(241, 245, 190);
                display: none;
                p{width: 90%;margin: 12px 0px 12px 22px;}
                @media (max-width: 992px) {
                    top: 96px;
                }
                @media (max-width: 768px) {
                    top: 121px;
                }
            }
            &:hover{.overlay{display: block;transition: 0.7s ease-in-out;}}
        }
    }
}
.section3{
    margin: 20px 0;
    margin-top: 50px;
    h2 {@include main_h2;}
    a{
        text-decoration: none;
        h4{color: $main_color;}
    }
}
footer{
    padding: 40px 0 0;
    background-color: $main_color;
    color: $second_color;
    .social_media{
        margin: auto;
        font-size: 25px;
    }
    a{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            color:  $second_color;
            text-decoration: none;
        }
    }
    .footer-copyright{
        color: $second_color;
        letter-spacing: 1px;
        padding-bottom: -4px;
        line-height: 4;
        font-size: 20px;
        font-weight: bold;
        a{font-weight: 600;}
    }
}
#scroll-top {
    width: 40px;
    height: 40px;
    line-height: 28px;
    color: #b79b6d;
    background-color: #3f3332;
    text-align: center;
    position: fixed;
    right: 25px;
    bottom: 15px;
    z-index: 99999;
    cursor: pointer;
    border-radius: 50%;
    display: none;
    padding-top: 5px;
    font-size: 22px;
    &:hover{
        background-color: $second_color;
        color: $main_color;
        transition: 0.7s ease-in-out;
    }
}
.login, .sign{
    h5{font-weight: bold;margin-left: 172px;color: $main_color;}
    .modal-body {
        @include model_body;
    }
}
/*account_edit*/
.header{
    border-bottom: 2px solid #e1e4e8;
    height: 87px;
    .navbar{
        @include navbar;
        padding-bottom: 0;
        .navbar-nav {
            padding-left: 0;
        }
        .main{
            @include main;
            padding: 6px 0;
            width: 122px;
            font-size: 16px;
        }
        ul {
            margin-bottom: 0;
            li{line-height: 3;}
        }
    }
}
.section4{
    margin-top: 20px;
    h2{
        font-weight: bold;
        color: $main_color;
        span{
            border-bottom: 3px solid $second_color;
            padding-bottom: 7px;
            margin-left: 7px;
        }
    }
    .modal-body {
        @include model_body;
        select {
            text-align: center;
            text-align-last: center;
        }
        .fa-eye{
            left: 13px;
        }
    }
    .col-lg-3{
        border: 1px solid;
        border-color:#c1b8b8;
        margin-bottom: 20px;
        margin-top: 20px;
        img{margin-top: 20px;}
        h3, h4{
            margin-top: 10px;
            font-weight: bold;
            color: $main_color;
        }
        @media (max-width: 992px) {
            border: none;
        }
    }
}
.section5{
    img{    
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
}
/*activity*/
.section6{
    .main_content{
        h2{
            @include main_h2;
            span{border-bottom: 3px solid $second_color;padding-bottom: 8px;}
        }
        .main_item{
            border: 1px solid;
            border-color: #c1b8b8;
            padding: 16px 10px 20px;
            border-radius: 5px;
            background-color: #f5f6ef;
            box-shadow: 0px 0px 1px 0px #000;
            margin-bottom: 30px;
            h3{@include main_h2; text-align: center;}
            p{color: $second_color;}
            .data_span{
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                color: #807a79;
            }
            .main_img{
                height: 450px;
                width: 100%;
                display: block;
            }
            .second_row{
                h5{
                    margin-bottom: 20px;
                    margin-top: 15px;
                    font-weight: bold;
                    color: $main_color;
                    span{
                        background-color: $main_color;
                        padding: 3px 10px 9px;
                        border-radius: 30px;
                        box-shadow: 0 0 1px 0 #000;
                        font-weight: 600;
                        color: $second_color;
                    }
                    i{
                        margin-left: 7px;
                        color: $second_color;
                    }
                }
            }
            .main {
                @include main;
                padding: 8px 15px;
                width: 150px;
                background-color: $second_color;
                border: none;
                box-shadow: 0 0 1px 0 #000;
            }
            .comment_show,.add_comment{
                display: none;
                margin: 20px 0;
                padding: 10px 25px;
                border-radius: 10px;
                border-radius: 10px;
                box-sizing: border-box;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                    0 1px 2px rgba(0, 0, 0, 0.24);
                background-color: #fff;
                img{
                    width: 85%;
                    border-radius: 50%;
                    margin: auto;
                    display: block;
                    margin-top: 19px;
                    height: 80px;
                }
                .btn-orange{
                    background-color: $second_color;
                    border-radius: 30px;
                    color: $main_color;
                    font-weight: bold;
                    padding: 8px 15px;
                    width: 130px;
                    &:hover{
                        color: $second_color;
                        background-color: $main_color;
                        transition: 0.5s ease-in-out;
                    }
                }
                label{
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: $main_color;
                }
                i{
                    margin-left: 7px;
                    color: $second_color;
                    font-size: 21px;
                }
                textarea{text-align: right;}
            }
        }
    }
    
}
/*couses_container*/
#sidebarCollapse{
    border: none;
    background-color: $second_color;
    color: $main_color;
    height: 50px;
    width: 50px;
    font-size: 26px;
    margin-right: -17px;
    margin-left: 10px;
    border-radius: 30px 0 0 30px;
}
#sidebar{
    h2 {
        margin-bottom: 10px;
        margin-top: 15px;
        font-size: 35px;
        font-weight: bold;
    }
    background-color: $second_color;
    img{    
        width: 100%;
        height: 270px;
    }
    a{color: $main_color;}
    button {
        color: $main_color;
        background: none;
        border: none;
        width: 100%;
        text-align: right;
        height: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    ul li.active > button{
        color: #fff;
        &:hover {
            background: $main_color;
            border-bottom: 1px solid $main_color; 
        }
    }
    ul li button{
        font-size: 20px;
        &:hover {
            color: #fff;
            background: $main_color;
            border-bottom: 1px solid $main_color; 
        }
        span {margin-left: 10px;}
    }
}
.section7 .card{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    iframe{
        width: 100%;
    }
    h2{
        font-size: 35px;
        font-weight: bold;
        color: $main_color;
    }
    .brown{
        @include brown;
        box-shadow: none;
        border-radius: 0;
        float: left;
    }
    h4{
        color: $main_color;
        font-size: 25px;
        i{
            color: #b79b6d;
            font-size: 20px;
            margin-left: 11px;
        }
    }
    label{
        font-size: 19px;
    }
    input{
        margin-left: 10px;
    }
}
.content_control, .content_control_2{
    background-color: $second_color;
    width: 25%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 0px 2px;
    @media (max-width: 1200px){
        width: 31%;
    }
    @media (max-width: 992px) {
        width: 35%;
    }
    @media (max-width: 768px) {
        width: 48%;
    }
    button{
        background-color: $main_color;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 5px 25px;
        margin: 10px 0;
        border: none;
        &:hover{color: #fff;}
    }
}
.disabled_prev{
    opacity: 0.4;
    cursor: no-drop !important;
}
.hidden_val{display: none;}

